html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    width: 100%;
    font-family: "STHeiti";
    background-color: #eeefef;
    padding-bottom: 300px;

    overflow-x: hidden;
}


/*#advantages {
	padding: 140px 0px 140px 0px;
	margin: 0px;
	text-align: center;
	background-color: white;
}

#advantages .center {
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	list-style:none;
}

#advantages li {
	width: 210px;
	display: inline-block;
}
#advantages li:nth-child(2) {
	margin-left: 145px;
	margin-right: 145px;
}

.advantage-title {
	margin-top: 70px;
	font-size: 22px;
	color: #0d4567;
}

.advantage-intro {
	margin-top: 20px;
	text-align: left;
	opacity: 0.8;
	line-height: 150%;
}

*/